--
-- PostgreSQL database cluster dump
--

\restrict EUDzc1I5lBW8OYVAHaDSJsN6KEIlgszHDdbW7vtfz2Dw1GpaqrYbTwbiW4JnF5g

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE mydatabase;




--
-- Drop roles
--

DROP ROLE admin;


--
-- Roles
--

CREATE ROLE admin;
ALTER ROLE admin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:9I4pzr3VoAGlpu8V48Uktg==$m3yv33OrdG4BC89UV3puoMOLV6OcNq0TQTjiIclF5U0=:sLiOGORR37dqXZg6LJ7tvRKOpbLSa1VkVoagA0tMXDw=';

--
-- User Configurations
--








\unrestrict EUDzc1I5lBW8OYVAHaDSJsN6KEIlgszHDdbW7vtfz2Dw1GpaqrYbTwbiW4JnF5g

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict mDZo3aVLsZ0e2kBlE8ckXd7pQ2VK674JJLWhK0LfRKNEyI8j9swj8hdjEID18Ie

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO admin;

\unrestrict mDZo3aVLsZ0e2kBlE8ckXd7pQ2VK674JJLWhK0LfRKNEyI8j9swj8hdjEID18Ie
\connect template1
\restrict mDZo3aVLsZ0e2kBlE8ckXd7pQ2VK674JJLWhK0LfRKNEyI8j9swj8hdjEID18Ie

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: admin
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict mDZo3aVLsZ0e2kBlE8ckXd7pQ2VK674JJLWhK0LfRKNEyI8j9swj8hdjEID18Ie
\connect template1
\restrict mDZo3aVLsZ0e2kBlE8ckXd7pQ2VK674JJLWhK0LfRKNEyI8j9swj8hdjEID18Ie

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: admin
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict mDZo3aVLsZ0e2kBlE8ckXd7pQ2VK674JJLWhK0LfRKNEyI8j9swj8hdjEID18Ie

--
-- Database "mydatabase" dump
--

--
-- PostgreSQL database dump
--

\restrict BBrXtxjgInJu2pNah1ZTORPaZ93FiMZvmNbkhPJm99g4hmLpKKFZVtX2dGV8XZo

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: mydatabase; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE mydatabase WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE mydatabase OWNER TO admin;

\unrestrict BBrXtxjgInJu2pNah1ZTORPaZ93FiMZvmNbkhPJm99g4hmLpKKFZVtX2dGV8XZo
\connect mydatabase
\restrict BBrXtxjgInJu2pNah1ZTORPaZ93FiMZvmNbkhPJm99g4hmLpKKFZVtX2dGV8XZo

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: test; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.test (
);


ALTER TABLE public.test OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO admin;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: test; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.test  FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (user_id, username, email, password, created_at) FROM stdin;
1	alice	alice@example.com	alicepass	2025-09-07 12:20:26.303948
2	bob	bob@example.com	bobpass	2025-09-07 12:20:26.303948
3	charlie	charlie@example.com	charliepass	2025-09-07 12:20:26.303948
\.


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_user_id_seq', 3, true);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- PostgreSQL database dump complete
--

\unrestrict BBrXtxjgInJu2pNah1ZTORPaZ93FiMZvmNbkhPJm99g4hmLpKKFZVtX2dGV8XZo

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict kG1KTxSRSJ3Cab0IYZsEK3NbBSlPnmPketMMTTuzhEAfySm9oLgFzmquDuBDKaR

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO admin;

\unrestrict kG1KTxSRSJ3Cab0IYZsEK3NbBSlPnmPketMMTTuzhEAfySm9oLgFzmquDuBDKaR
\connect postgres
\restrict kG1KTxSRSJ3Cab0IYZsEK3NbBSlPnmPketMMTTuzhEAfySm9oLgFzmquDuBDKaR

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict kG1KTxSRSJ3Cab0IYZsEK3NbBSlPnmPketMMTTuzhEAfySm9oLgFzmquDuBDKaR

--
-- PostgreSQL database cluster dump complete
--

